Repository s1ntropy/ferrous-di: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-audit, cargo-doc

rust-fmt:
  name: Rust Format
  entry: cargo fmt
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: cargo clippy
  language: system
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  pass_filenames: false

rust-test:
  name: Rust Tests
  entry: cargo test
  language: system
  args:
  - --all-features
  pass_filenames: false
  stages:
  - commit

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  args:
  - --all-features
  pass_filenames: false

cargo-audit:
  name: Cargo Audit
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - push

cargo-doc:
  name: Cargo Doc
  entry: cargo doc
  language: system
  args:
  - --no-deps
  - --document-private-items
  - --all-features
  pass_filenames: false
  stages:
  - push

feat: Complete warning cleanup with full async factories and runtime dependency analysis
  Cargo.toml
  examples/async_factory_demo.rs
  examples/durable-agent/src/lib.rs
  examples/durable-agent/src/main.rs
  src/async_factories.rs
  src/collection/mod.rs
  src/decoration.rs
  src/graph_export.rs
  src/observer.rs
  src/provider/mod.rs
  src/scope_local.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-audit, cargo-doc

fix: Resolve scope_local doc test compilation issues
  examples/async_factory_demo.rs
  src/scope_local.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-doc

fix: Correct GitHub repository URLs and workflow issues
  .github/workflows/audit.yml
  README.md
  deny.toml
Due: cargo-check

Fix repository URL in Cargo.toml
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
Due: cargo-check, cargo-audit

Fix scoped service caching in multi-binding without once-cell feature
  src/provider/scope.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-doc

feat: Add Axum web framework integration with multi-tenant support
  Cargo.lock
  Cargo.toml
  examples/axum_multi_tenant.rs
  src/axum_integration.rs
  src/lib.rs
  src/web_integration.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-audit, cargo-doc

fix: Resolve Axum 0.7 compatibility and DI type resolution issues
  Cargo.lock
  Cargo.toml
  examples/axum_minimal_test.rs
  examples/axum_multi_tenant.rs
  src/axum_integration.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-audit, cargo-doc

chore: Bump version to 0.1.1
  Cargo.toml
Due: cargo-check, cargo-audit

chore: Update Cargo.lock for version 0.1.1
  Cargo.lock
Due: none

feat: Enhance Axum integration with comprehensive testing and enterprise features
  examples/axum_multi_tenant.rs
  examples/enterprise_patterns.rs
  src/axum_integration.rs
  src/config.rs
  src/decoration.rs
Due: rust-fmt, rust-clippy, rust-test, cargo-check, cargo-doc

chore: Bump version to 0.2.0 - Enterprise Patterns Release
  Cargo.toml
Due: cargo-check, cargo-audit

chore: Update Cargo.lock for version 0.2.0
  Cargo.lock
Due: none

Path conditions:
  rust-fmt: any of: \.rs$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
  rust-clippy: any of: \.rs$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
  rust-test: any of: \.rs$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
  cargo-check: any of: \.(rs|toml)$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
  cargo-doc: any of: \.rs$, but not: (?x)^(
    target/.*|
    \.git/.*|
    .*\.lock$|
    .*\.bin$|
    .*\.exe$|
    benches/criterion/.*
)$
